/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800]   is where our normal styles apply
1800px + :      Big desktop
*/
/*
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  font-family: 'Poppins', sans-serif; }

.container {
  position: relative;
  width: 124rem;
  margin: 0 auto;
  padding: 0 4rem; }
  @media (max-width: 75em) {
    .container {
      width: 100%; } }

section,
footer {
  padding: 10rem 0; }

h1 {
  font-size: 5.5rem;
  color: #fff;
  font-weight: 400;
  margin: 0 auto; }
  @media (max-width: 37.5em) {
    h1 {
      font-size: 3.6rem; } }

h2 {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 400; }
  @media (max-width: 37.5em) {
    h2 {
      font-size: 3.6rem; } }

h3 {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 600; }
  @media (max-width: 37.5em) {
    h3 {
      font-size: 2.4rem; } }

h4 {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 700; }
  @media (max-width: 37.5em) {
    h4 {
      font-size: 1.8rem; } }

h5 {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 37.5em) {
    h5 {
      font-size: 300; } }

h6 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 37.5em) {
    h6 {
      font-size: 300; } }

a {
  text-decoration: none; }

ul {
  padding: 2rem 0; }

.text-xsm {
  font-size: 1.4rem; }
  @media (max-width: 37.5em) {
    .text-xsm {
      font-size: 1.2rem; } }

.text-sm {
  font-size: 1.6rem; }
  @media (max-width: 37.5em) {
    .text-sm {
      font-size: 1.4rem; } }

.text-md {
  font-size: 1.8rem; }
  @media (max-width: 37.5em) {
    .text-md {
      font-size: 1.6rem; } }

.text-lg {
  font-size: 2.4rem; }
  @media (max-width: 37.5em) {
    .text-lg {
      font-size: 1.8rem; } }

.gray {
  color: #e1e1e180; }

.gold {
  color: #FFD231; }

.red {
  color: #EB5757; }

.white {
  color: #fff; }

.fw-sm {
  font-weight: 400; }

.fw-md {
  font-weight: 600; }

.d-flex {
  display: flex; }

.f-column {
  flex-direction: column; }

.j-center {
  justify-content: center; }

.j-around {
  justify-content: space-around; }

.j-content {
  justify-content: space-between; }

.a-item {
  align-items: center; }

.text-center {
  text-align: center; }

.flex-gap {
  gap: 3rem; }

.gap {
  gap: 6rem; }
  @media (max-width: 56.25em) {
    .gap {
      gap: 4rem; } }

.border {
  border: 0.1rem dashed #e1e1e180;
  border-radius: .8rem; }

.border-p {
  padding: 2.5rem; }

.border-mt {
  margin-top: 5rem; }

.border-gap {
  gap: 10rem; }
  @media (max-width: 56.25em) {
    .border-gap {
      gap: 5rem; } }

.l_height {
  line-height: 1.5; }

.overflow-auto {
  overflow: auto; }

.my-3 {
  margin: 3rem 0; }

.gap-2 {
  gap: 2rem; }

.w-full {
  width: 100%; }

.lead {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff; }

.btn {
  border-radius: 1.6rem;
  border: 0.1rem solid #FFD231;
  background: #FFD231;
  color: #333333;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer; }
  .btn__nav {
    padding: 1.2rem 2.5rem; }
    @media (max-width: 37.5em) {
      .btn__nav {
        font-size: 0.9rem;
        border-radius: 1.6rem;
        padding: 1rem;
        text-align: center;
        width: 70%; } }
  .btn__medium {
    padding: 1.5rem 4.0rem; }
  .btn__bit {
    padding: 0.4rem 0.8rem; }
  .btn__small {
    padding: 1.2rem 2.5rem;
    border-radius: 1.8rem; }
  .btn__white {
    background: #fff;
    padding: 1.5rem 4.0rem;
    border: 0.1rem solid #fff; }
  .btn__dark-gold {
    background: #FFD231;
    padding: 0.7rem 0.7rem;
    border: 0.1rem solid #FFD231;
    border-radius: 0.1rem; }
  .btn__light-gold {
    background: #443605;
    padding: 0.7rem 0.7rem;
    border: 0.1rem solid #443605;
    border-radius: 0.1rem; }
  .btn__lighter-gold {
    background: #8B6D03;
    padding: 0.7rem 0.7rem;
    border: 0.1rem solid #8B6D03;
    border-radius: 0.1rem; }
  .btn__solid-gold {
    background: #C79B00;
    padding: 0.7rem 0.7rem;
    border: 0.1rem solid #C79B00;
    border-radius: 0.1rem; }

.btn:hover {
  transform: scale(1.02); }

@media (max-width: 37.5em) {
  .notch {
    padding: 0.1rem;
    width: 2rem;
    height: 2rem; } }

.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
  padding: 2.5rem 0; }
  .nav .logo img {
    display: block;
    width: 100%;
    height: 100%; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .modal.active {
    display: block; }
  .modal .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 14, 14, 0.883); }
  .modal_content {
    position: absolute;
    width: 35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #151C24;
    border-radius: 1.6rem;
    color: #fff; }
    @media (max-width: 75em) {
      .modal_content {
        width: 45%; } }
    @media (max-width: 56.25em) {
      .modal_content {
        width: 60%; } }
    @media (max-width: 37.5em) {
      .modal_content {
        width: 80%; } }
  .modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem; }
    .modal_header h6 {
      font-size: 1.8rem;
      font-weight: 600; }
    .modal_header .close {
      cursor: pointer; }
      .modal_header .close:hover svg path {
        fill: #970404; }
  .modal_body .form-control label {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .modal_body .form-control .input-group {
    background-color: #252B32;
    border-radius: 8px;
    padding: 1.7rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0; }
    .modal_body .form-control .input-group .input-form {
      padding: .5rem 0;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 2.4rem;
      font-weight: 400;
      color: #fff; }
      .modal_body .form-control .input-group .input-form::placeholder {
        font-size: 2.4rem;
        font-weight: 400;
        color: #fff; }
    .modal_body .form-control .input-group span {
      font-size: 1.2rem; }
  .modal_body .form-control span {
    font-size: 1.2rem; }
  .modal_body .payment {
    margin-top: 4rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #252B32; }
    .modal_body .payment_info {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .modal_body .payment_info:not(:last-child) {
        margin-bottom: 1.4rem; }
  .modal_body .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem; }
    .modal_body .total:last-child {
      font-size: 2.2rem;
      font-weight: 600; }
  .modal_footer {
    margin-top: 5rem; }
    .modal_footer p {
      font-size: 1.2rem;
      font-size: 400;
      margin-top: 2rem; }
  .modal.hideModal {
    z-index: -1;
    opacity: 0;
    animation: hide .25s;
    transform: scale(0); }

@keyframes hide {
  from {
    z-index: 2;
    transform: scale(1);
    opacity: 1; }
  to {
    z-index: -1;
    transform: scale(0);
    opacity: 0; } }
  .modal.showModal {
    opacity: 1;
    z-index: 2;
    animation: show .2s;
    transform: scale(1); }

@keyframes show {
  from {
    transform: scale(0);
    opacity: 0;
    z-index: -1; }
  to {
    transform: scale(1);
    opacity: 1;
    z-index: 2; } }

.about {
  background: #111111; }
  .about__content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    gap: 3rem; }
    @media (max-width: 75em) {
      .about__content {
        flex-wrap: wrap;
        justify-content: center; } }
  .about__img {
    width: 35%; }
    @media (max-width: 75em) {
      .about__img {
        width: 50%; } }
    @media (max-width: 37.5em) {
      .about__img {
        width: 80%; } }
    .about__img img {
      display: block;
      width: 100%;
      height: 100%; }
  .about__briefing {
    width: 50%; }
    @media (max-width: 75em) {
      .about__briefing {
        width: 100%; } }
  .about__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
  .about__text p {
    line-height: 2rem;
    color: #8D8D8D;
    font-size: 1.4rem; }

.p {
  color: #FFD231;
  font-size: 1.4rem; }

.briefing {
  text-align: center;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .briefing__content {
    display: flex;
    flex-direction: row;
    position: relative; }
  .briefing__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem; }
    @media (max-width: 75em) {
      .briefing__text {
        font-size: 1.2rem; } }
  .briefing__text p {
    font-size: 1.8rem;
    color: #fff; }
    @media (max-width: 56.25em) {
      .briefing__text p {
        font-size: 1.4rem; } }
  .briefing__imga {
    position: absolute;
    top: -8rem;
    left: -19.5rem; }
    @media (max-width: 75em) {
      .briefing__imga {
        display: none; } }
  .briefing__imgb {
    position: absolute;
    top: 20rem;
    right: -15rem; }
    @media (max-width: 75em) {
      .briefing__imgb {
        display: none; } }

.connect {
  background: #111111; }
  .connect__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 56.25em) {
      .connect__content {
        flex-direction: column;
        gap: 10rem; } }
  .connect__text {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    @media (max-width: 56.25em) {
      .connect__text {
        text-align: center; } }
  .connect__text p {
    color: #8D8D8D;
    width: 550px;
    font-size: 1.4rem; }
    @media (max-width: 56.25em) {
      .connect__text p {
        font-size: 1.2rem;
        width: 300px;
        margin: 0 auto; } }

.chart {
  background: #14181D;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 2rem; }
  .chart__img {
    margin: 0 auto; }
  .chart__content {
    display: flex;
    flex-direction: row;
    gap: 4rem; }
  .chart__colored {
    display: flex;
    flex-direction: row;
    gap: 1rem; }
  .chart__text {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .chart__test {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1rem; }

.chart p {
  color: #8D8D8D;
  font-size: 1.4rem;
  gap: 1rem; }

.development {
  background: #14181D; }
  .development__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    gap: 3rem; }
    @media (max-width: 75em) {
      .development__content {
        flex-wrap: wrap; } }
  .development__briefing {
    display: flex;
    align-content: center;
    gap: 2rem; }
  .development__text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem; }
  .development__text p {
    color: #8D8D8D;
    font-size: 1.6rem; }
  .development__img {
    justify-content: center; }

.footer {
  background: #111111;
  color: #8D8D8D;
  font-size: 1.4rem;
  list-style: none;
  text-decoration: none;
  padding-bottom: 4rem; }
  .footer__content {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
  .footer__content li a {
    color: #8D8D8D; }
  .footer__content li a:hover {
    color: #fff; }
  .footer__link {
    display: flex;
    flex-direction: row;
    gap: 2rem; }
    @media (max-width: 56.25em) {
      .footer__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__partners {
    display: flex;
    flex-direction: row;
    gap: 2rem; }
    @media (max-width: 56.25em) {
      .footer__partners {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
  .footer__extra {
    display: flex;
    justify-content: space-between; }
    @media (max-width: 56.25em) {
      .footer__extra {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

.header {
  background-image: url(../img/homebg.png);
  background-repeat: no-repeat;
  background-size: cover; }

.header2 {
  background-image: url(../img/loginbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh; }

.winning {
  background-color: #111111; }
  .winning_container {
    gap: 15rem; }
  .winning_criteria {
    gap: 3rem; }
    @media (max-width: 56.25em) {
      .winning_criteria {
        flex-direction: column-reverse; } }
  .winning_list {
    padding-left: 1.8rem; }
  @media (max-width: 75em) {
    .winning_image {
      width: 70%; } }
  @media (max-width: 37.5em) {
    .winning_image {
      width: 100%; } }
  .winning_image img {
    display: block;
    width: 100%;
    height: 100%; }

.works {
  background: #14181D; }
  .works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #8D8D8D;
    gap: 11rem; }
  .works__heading {
    text-align: center; }
  .works__briefing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 0 auto; }
  .works__context {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    row-gap: 4rem;
    flex-wrap: wrap; }
  .works__texts {
    border: 1px solid #282828;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.3rem;
    width: 37.2rem;
    height: 28.8rem; }
    @media (max-width: 56.25em) {
      .works__texts {
        width: 100%; } }
  .works__texts p {
    font-size: 1.4rem; }

.history {
  background-color: #14181D; }
  .history_container {
    width: 60%;
    margin: 0 auto; }
    @media (max-width: 56.25em) {
      .history_container {
        width: 80%; } }
    @media (max-width: 37.5em) {
      .history_container {
        width: 100%; } }
  .history_link {
    display: flex;
    justify-content: center;
    gap: 4.7rem;
    line-height: 4rem; }
  .history_winning_number {
    column-gap: 4rem; }
    @media (max-width: 56.25em) {
      .history_winning_number {
        display: flex;
        flex-direction: column; } }
  .history_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex: 1; }
    .history_list_number {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      font-weight: 700; }

.wallet {
  background-color: #111111; }
  .wallet_container {
    display: flex;
    justify-content: space-between;
    gap: 4rem; }
    @media (max-width: 56.25em) {
      .wallet_container {
        flex-direction: column-reverse;
        gap: 5rem; } }
  .wallet_img img {
    display: block;
    width: 100%;
    height: 100%; }
  .wallet_text {
    padding: 3rem 0; }

.testimonials {
  background: #111111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem; }
  .testimonials__content {
    background: #1B1F21;
    display: flex;
    align-items: center;
    gap: 30.2rem;
    flex-direction: row;
    padding: 3.5rem;
    margin: 0 auto;
    justify-content: space-between;
    padding: 6rem 8rem;
    gap: 6rem; }
    @media (max-width: 56.25em) {
      .testimonials__content {
        flex-direction: column; } }
    @media (max-width: 37.5em) {
      .testimonials__content {
        padding: 6rem 2rem; } }
  .testimonials__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  .testimonials__text p {
    font-size: 1.4rem;
    color: #8D8D8D;
    width: 70%; }
    @media (max-width: 75em) {
      .testimonials__text p {
        width: 100%; } }

.ticket {
  background-color: #14181D; }
  @media (max-width: 56.25em) {
    .ticket {
      padding: 8rem 0; } }
  .ticket_row {
    flex-direction: row; }
    @media (max-width: 56.25em) {
      .ticket_row {
        flex-direction: column;
        gap: 4rem;
        width: 100%; } }
    @media (max-width: 37.5em) {
      .ticket_row {
        margin: 0 auto; } }
  .ticket_time {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    margin: 2.1rem 0; }
  @media (max-width: 75em) {
    .ticket_box {
      width: 100%; } }
  @media (max-width: 75em) {
    .ticket_box_prize {
      flex-direction: column; } }
  .ticket_line {
    width: .1rem;
    background-color: #e1e1e180; }
