.about {
    background: $second-background;
    height: 90vh;


    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    @include respond(phone) {
        height: 150vh;
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5rem 0rem;
        width: $default-width;

        @include respond(tab-land) {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 2rem;
        }
        @include respond(tab-port) {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 2rem;
        }
        
    }

    &__img img {
        @include respond(tab-land) {
            width: 25rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include respond(tab-land) {
            text-align: center;
        }
    }

    &__text p {
        width: 45rem;
        line-height: 2rem;
        color: $paragraph-color;
        font-size: $default-font-size;

        @include respond(tab-land) {
            width: 30rem;
            margin: 0 auto;
            text-align: center;
        }
    }
}

.p {
    color: $color-gold;
    font-size: $default-font-size;
}