.about {
    background: $second-background;

    &__content {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex: 1 1 0;
        justify-content: space-between;
        gap: 3rem;
        

        @include respond (tab-land){
            flex-wrap: wrap;
            justify-content: center;
        }
        
    }

    &__img {
        width: 35%;

        @include respond (tab-land){
            width: 50%;
        }
        
        @include respond (phone){
            width: 80%;
        }

        & img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &__briefing{
        width: 50%;

        @include respond (tab-land){
            width: 100%;
        }

    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__text p {
        line-height: 2rem;
        color: $paragraph-color;
        font-size: $default-font-size;
    }
}

.p {
    color: $color-gold;
    font-size: $default-font-size;
}