.development {
    height: 40vh;
    background: $first-background;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
        height: 100vh;
    }

    @include respond(phone) {
        height: 150vh;
    }
 
    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 14rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    &__briefing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__text p {
        color: $paragraph-color;
        font-size: $paragraph-primary-size;
    }

    &__img {
        justify-content: center;
    }
}