.development {
    background: $first-background;
 
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 75%;
        margin: 0 auto;
        gap: 3rem;

        @include respond(tab-land) {
            flex-wrap: wrap;
        }
    }

    &__briefing {
        display: flex;
        align-content: center;
        gap: 2rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__text p {
        color: $paragraph-color;
        font-size: $paragraph-primary-size;
    }

    &__img {
        justify-content: center;
    }
}