.development {
    height: 40vh;
    background: $first-background;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tab-port) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 170vh;
    }   

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }    
    }

    &__briefing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    &__text p {
        color: $paragraph-color;
        font-size: $paragraph-primary-size;
    }
}

.b {
    @include respond(tab-port) {
        position: relative;
        left: 0.8rem;
    }   
}

.c {
    @include respond(tab-port) {
        position: relative;
        right: 3.4rem;
    }  
}