.footer {
    background: $second-background;
    color: $paragraph-color;
    font-size: $default-font-size;
    list-style: none;
    text-decoration: none;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    &__content li a {
        color: $paragraph-color;
    }

    &__content li a:hover {
        color: $color-white;
    }

    &__link {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__partners {
        display: flex;
        flex-direction: row;
        gap: 2rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__extra {
        display: flex;
        justify-content: space-between;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}