.history{
     // padding: 10rem 0;
     background-color: $first-background; 

     &_container{
          width: 60%;
          margin: 0 auto;
          

          @include respond (tab-port){
               width: 80%;
          }

          @include respond (phone){
               width: 100%;
          }

     }
     &_link{
          display: flex;
          justify-content: center;
          gap: 4.7rem;
          line-height: 4rem;
     }
     &_winning_number{
          column-gap: 4rem;

          @include respond(tab-port) {
               display: flex;
               flex-direction: column;
           }
     }
     &_list{
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          // gap: 2.2rem;

          &_number{
               width: 3rem;
               height: 3rem;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               background-color: $color-white;
               font-weight: $big-font-weight;
          }
     }
}
// .border_gold{
//      border-bottom: 1px solid $color-gold; 
// }

// .border_gray{
//      border-bottom: 1px solid $color-gray;
// }