.testimonials {
    // padding: 7rem;
    background: $second-background;
    margin-bottom: 15rem;
    

    &__content {
        background: #1B1F21;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 30.2rem;
        padding: 6rem 8rem;

        @include respond(tab-port) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 2rem;
            padding: 1.5rem;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__text p {
        font-size: $default-font-size;
        color: $paragraph-color;
        width: 75rem;

        @include respond(tab-land) {
            width: 27rem;
            text-align: center;
            margin: 0 auto;
        }
    }
}