.testimonials {
    // padding: 7rem;
    background: $second-background;
    margin-bottom: 15rem;
    

    &__content {
        background: #1B1F21;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 6rem 8rem;
        gap: 6rem;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__text p {
        font-size: $default-font-size;
        color: $paragraph-color;
        width: 70%;

        @include respond(tab-land) {
            width: 100%;
        }
    }
}