.ticket{
     background-color: $first-background; 
     padding: 22rem 0;

     &_row{
          flex-direction: row;
     }
     &_time{
          display: flex;
          text-align: center;
          gap: 3.2rem;
          margin: 2.1rem 0;
     }
}