.wallet{
     background-color: $second-background;
     // padding: 10rem 0;

     &_container{
          display: flex;
          justify-content: space-between;

          @include respond(tab-port) {
               flex-direction: column-reverse;
               gap: 5rem;
               align-items: center;
               text-align: center;
           }

     }

     &_text{
          margin-bottom: 2.4rem;
     }
     
     &_img{
          width: 20.8rem;
          height: 21.54rem;
          background-image: url(../img/envelope.png);
          background-position: center;
          background-size: cover;
     }
}