.works {
    background: $first-background;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: $paragraph-primary-size;
        color: $paragraph-color;
        gap: 11rem;
    }

    &__heading {
        text-align: center;
    }

    &__briefing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin: 0 auto;
    }

    &__context {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        column-gap: 2rem;
        row-gap: 4rem;
        flex-wrap: wrap;
    }

    &__texts {
        border: 1px solid $default-border;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        border-radius: 0.3rem;
        width: 37.2rem;
        height: 28.8rem;

        @include respond (tab-port){
            width: 100%;
        }
    }

    &__texts p {
        font-size: $default-font-size;
    }
}