// COLOR
$color-white: #fff;

$color-btn: #333333;

$paragraph-color: #8D8D8D;

$color-gold: #FFD231;

$first-background: #14181D;
$second-background: #111111;

// FONT
$default-font-size: 1.4rem;

$bit-font-size: 1.2rem;

$paragraph-primary-size: 1.6rem;
$paragraph-secondary-size: 1.8rem;

$btn-secondary-font: 1.8rem;

$default-heading-size: 5.5rem;
$default-primary-size: 4.8rem;
$primary-heading-size: 3.6rem;
$medium-heading-size: 2.4rem;
$small-heading-size: 2.2rem;

// WEIGHT
$default-font-weight: 100;
$primary-font-weight: 300;
$medium-font-weight: 400;
$small-font-weight: 600;
$big-font-weight: 700;
