.btn {
    border-radius: 1.6rem;
    border: .1rem solid $color-gold;
    background: $color-gold;
    color: $color-btn;
    font-size: $default-font-size;
    font-weight: $big-font-weight;
    cursor: pointer;

    &__nav {
        padding: 1.2rem 2.5rem;

        @include respond(phone) {
            font-size: 0.9rem;
            border-radius: 1.6rem;
            padding: 1rem;
            text-align: center;
            width: 70%;
        }
    }

    &__medium {
        padding: 1.5rem 4.0rem;
    }

    &__bit {
        padding: 0.4rem 0.8rem;
    }

    &__small {
        padding: 1.2rem 2.5rem;
        border-radius: 1.8rem;
    }

    &__white {
        background: $color-white;
        padding: 1.5rem 4.0rem;
        border: .1rem solid $color-white;
    }

    &__dark-gold {
        background: $color-gold;
        padding: 0.7rem 0.7rem;
        border: 0.1rem solid $color-gold;
        border-radius: 0.1rem;
    }

    &__light-gold {
        background: #443605;
        padding: 0.7rem 0.7rem;
        border: 0.1rem solid #443605;
        border-radius: 0.1rem;
    }

    &__lighter-gold {
        background: #8B6D03;
        padding: 0.7rem 0.7rem;
        border: 0.1rem solid #8B6D03;
        border-radius: 0.1rem;
    }

    &__solid-gold {
        background: #C79B00;
        padding: 0.7rem 0.7rem;
        border: 0.1rem solid #C79B00;
        border-radius: 0.1rem;
    }
}

.btn:hover {
    transform: scale(1.02);
}

.notch {
    @include respond(phone) {
        padding: 0.1rem;
        width: 2rem;
        height: 2rem;
    }
}
