*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

// .cont {
//     width: 120rem;
//     margin: 0 auto;
// }


.container{
    position: relative;
    width: 124rem;
    margin: 0 auto;
    padding: 0 4rem;

    @include respond(tab-land){
        width: 100%;
    }
}

section,
footer {
    padding: 10rem 0;
}
