.container{
    padding: 0 6rem;

    @include respond(phone) {
        padding: 0 .5rem;
    }
}

h1 {
    font-size: $default-heading-size;
    color: $color-white;
    font-weight: $medium-font-weight;
    margin: 0 auto;

    @include respond(phone) {
        font-size: $medium-heading-size;
    }
}

h3 {
    font-size: $medium-heading-size;
    color: $color-white;
    font-weight: $big-font-weight;
}

.container{
    padding: 0 6rem;

    @include respond(phone) {
        padding: 0 .5rem;
    }
}
